/* 'Source Code Pro', monospace */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
/* 'Architects Daughter', cursive */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url(./animaback.css);
@import url(./animations.css);

:root {
    --color1: antiquewhite;
    --color2: rgba(97, 97, 97, 0.355);
    --color3: rgba(255, 172, 7, 0.857);
    --font1: 'Source Code Pro', monospace;
    --font2: 'Architects Daughter', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--color1);
    font-family: var(--font1);
}

::-webkit-scrollbar {
    background-color: rgb(0, 70, 71);
    width: 12px;
}

::-moz-scrollbar {
    background-color: rgb(0, 70, 71);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 10px;
}

svg {
    fill: var(--color1);
    width: 24px;
    height: 24px;
}

body {
    overflow-y: auto;
}

/**********HEADER********************/

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10%;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--color1);
    font-family: var(--font2);
    font-size: 40px;
    text-shadow: 13px 7px 9px rgba(0, 0, 0, 0.8);
}

#title {
    width: 500px;
}

#title div {
    display: flex;
    flex-direction: row;
}

#title p {
    height: 36px;
    font-size: 30px;
    color: var(--color3);
    overflow: hidden;
    white-space: nowrap;
    animation: typeEffect 3.5s linear;
}

#title span {
    color: var(--color3);
    font-size: 30px;
    display: inline-block;
    animation: blink 1s infinite;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

nav svg {
    fill: var(--color1);
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

nav svg:hover {
    fill: var(--color3);
    transition: 0.3s;
}

.active-link svg {
    width: 48px;
    height: 48px;
    transition: 0.3s;
}

/**********MAIN********************/

main {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.box {
    background: var(--color2);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

/**********SIDEBAR********************/

#sideBar {
    min-width: 250px;
    width: 250px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: entranceByZoom 1s ease 0s 1 normal forwards;
}

#photo {
    width: 80%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

#photo img {
    width: 100%;
    height: 100%;
}

#informations {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infos {
    display: flex;
    justify-content: space-between;
}

.infos span {
    width: 85%;
}

#interest {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.interest-list {
    margin: 10px auto;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.interest-list svg {
    cursor: pointer;
    transition: 0.3s;
}

.interest-list svg:hover {
    fill: rgba(255, 172, 7, 0.857);
    transition: 0.3s;
}

/**********MAIN CONTAINER********************/

#mainContainer::-webkit-scrollbar {
    background-color: rgba(0, 70, 71, 0);
    width: 12px;
}

#mainContainer::-moz-scrollbar {
    background-color: rgba(0, 70, 71, 0);
    width: 12px;
}

#mainContainer {
    width: calc(100% - 270px);
    height: 700px;
    overflow-y: scroll;
    animation: entranceByRight 1s ease 0s 1 normal forwards;
}

#mainContainer svg {
    width: 24px;
    height: 24px;
}

#mainContainer svg:hover {
    fill: var(--color3);
}

#mainContainer h2 {
    margin: 10px;
}

#mainContainer h3 {
    margin: 10px 0px;
}

#mainContainer article {
    margin: 10px;
}

#mainContainer p {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#mainContainer section {
    overflow: hidden;
    animation: upToDown 3s;
}

/**********STACK********************/

#technoskills {
    display: flex;
}

#stack-technos {
    min-width: 45%;
}

#technos-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

#technos-list img {
    width: 32px;
    height: 32px;
    object-fit: contain;

}

.techno-rater {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.techno-rater p {
    position: relative;
    white-space: nowrap;
    top: -30px;
    font-size: 12px;
}

.techno-line {
    height: 6px;
    background-color: var(--color1);
    border-radius: 3px;
}

#divider1 {
    min-height: 100%;
    width: 6px;
    border-radius: 3px;
    background: var(--color2);
    margin-right: 20px;
}

#skills li {
    list-style: none;
}

#skills li::before {
    content: "\2611";
    margin-right: 5px;
}

#divider2 {
    height: 6px;
    width: 70%;
    border-radius: 3px;
    background: var(--color2);
    margin: 20px auto;
}

#tools {
    width: 45%;
    min-width: 45%;

}

#toolslearnings {
    display: flex;
}

#tools-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

#tools-list div {
    display: flex;
    align-items: center;
}

#tools-list img {
    width: 32px;
    height: 32px;
}

#divider3 {
    min-height: 100%;
    width: 6px;
    border-radius: 3px;
    background: var(--color2);
    margin-top: 10px;
    margin-right: 20px;
}

#learnings-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

#learnings-list div {
    display: flex;
    align-items: center;
}

#learnings img {
    width: 32px;
    height: 32px;
}

/**********PORTFOLIO********************/

#portfolio-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#folderTree::-webkit-scrollbar {
    background-color: rgba(0, 70, 71, 0);
    width: 12px;
}

#folderTree::-moz-scrollbar {
    background-color: rgba(0, 70, 71, 0);
    width: 12px;
}

#folderTree {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#folderTree p {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.folder:hover,
.project:hover {
    cursor: pointer;
}

.project {
    padding-left: 10px;
    animation: upToDown 0.5s;
}

#portfolio .infos {
    width: 100%;
    padding-left: 50px;
}

#portfolio .infos span {
    width: 70%;
}

.content {
    display: none;
}

#portfolio-preview {
    width: 0;
    aspect-ratio: 4/3;
    border-radius: 10px;
    visibility: hidden;

}

#portfolio-preview.active {
    width: 50%;
    visibility: visible;
    transition: width 0.3s;
}

#portfolio-preview img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid var(--color1) 3px;
    object-fit: cover;
}

#portfolio-preview a {
    display: none;
    text-align: center;
}

#portfolio-preview a.active {
    display: block;
}

/**********CONTACT********************/

#contact-container {
    display: flex;
    margin: 10px 10px 20px 10px;
    justify-content: space-between;
    gap: 10px;
}

#contact-text {
    width: 60%;
}

#contact-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#contact svg {
    width: 48px;
    height: 48px;
    transition: 0.3s;
}

#mailForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#name,
#email,
#message {
    background: none;
    border: solid var(--color1) 3px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    line-height: 20px;
}

#message {
    height: 200px;
}

#submit {
    width: 50%;
    border-radius: 10px;
    height: 30px;
    color: rgb(1, 57, 88);
    font-weight: 900;
    transition: 0.3s;
}

#submit:hover {
    cursor: pointer;
    background: var(--color3);
    transition: 0.3s;
}

#mailConfirmation {
    display: none !important;
    width: fit-content;
    margin: 0px auto;
}

#mailConfirmation.active {
    display: block !important;
}

/**********FOOTER********************/

footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

/**********BREAKPOINTS*******************/

@media only screen and (max-width : 1024px) {
    main {
        gap: 0px;
    }

    .box {
        font-size: 10px;
        line-height: 12px;
    }

    #sideBar {
        min-width: 150px;
    }

    #mainContainer {
        width: calc(100% - 170px);
    }


    #technoskills {
        flex-direction: column;
    }

    #divider1 {
        min-height: 6px;
        width: 70%;
        border-radius: 3px;
        background: var(--color2);
        margin: 20px auto;
    }

    #portfolio-container {
        flex-direction: column;
        position: relative;
        min-height: 650px;
        width: 100%;
    }

    #folderTree {
        max-width: 98%;
        max-height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #portfolio-preview.active {
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translateX(-50%);

    }

    #portfolio .infos span {
        width: 70%;
        white-space: pre-wrap;
    }

    footer {
        font-size: 10px;
    }
}

@media only screen and (max-width : 768px) {
    svg {
        width: 1.4vw;
        height: 1.4vw;
    }

    h1 {
        font-size: 25px;
        text-shadow: 7px 3px 4px rgba(0, 0, 0, 0.8);
    }

    #title p {
        height: 18px;
        font-size: 15px;
        white-space: nowrap;
    }

    #title span {
        font-size: 15px;
    }

    nav svg {
        width: 18px;
        height: 18px;
    }

    #sideBar {
        min-width: 100px;
        width: 25%;
        font-size: 1.2vw;
    }

    #mainContainer {
        width: 70%;
        font-size: 1.3vw;
    }

    #mainContainer svg {
        width: 16px;
        height: 16px;
    }

    #contact-text {
        width: 80%;
    }

    #contact-links {
        justify-content: flex-start;
        flex-direction: column;
    }

    #contact-links svg {
        width: 24px;
        height: 24px;
    }

    #portfolio-preview.active {
        width: 75%;
    }

    #name,
    #email,
    #message,
    #submit {
        width: 75%;
    }

    #message {
        height: 250px;
    }
}

@media only screen and (max-width : 500px) {
    header {
        margin: 10px;
    }

    h1 {
        font-size: 18px;
    }

    #title p {
        height: 18px;
        font-size: 10px;
        line-height: 12px;
    }

    #title span {
        font-size: 10px;
    }

    .active-link svg {
        width: 24px;
        height: 24px;
    }

    main {
        flex-direction: column;
        gap: 10px;
    }

    #sideBar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: space-evenly;
        gap: 10px;
        margin: 0px auto;
        width: 95%;
        height: 200px;
        font-size: 8px;
        padding: 0px;
    }

    #sideBar svg {
        width: 10px;
        height: 10px;
    }

    #photo {
        width: 30vw;
    }

    #informations {
        max-width: 180px;
    }

    #informations p {
        line-height: 10px;
        justify-content: flex-start;
        gap: 10px;
    }

    #interest {
        max-width: 180px;
        height: 50px;
        margin: 0px;
    }

    #mainContainer {
        margin: 0px auto;
        width: 95%;
        padding: 0px;
        font-size: 8px;
    }

    #mainContainer>* {
        margin: 5px;
    }

    #portfolio-preview.active {
        margin: 0px;
        width: 90%;
    }

    #name,
    #email,
    #message,
    #submit {
        width: 90%;
    }
}
