.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.container p {
    text-align: center;
    width: 60vw;
}

.profil {
    position: absolute;
    top: -50px;
    left: 0px;
    transform: rotate(-2deg)
}