:root {
  --colorBg0: #505050;
  --colorBg1: #161111;
  --colorBg2: #171711;
  --colorBg3: #151b14;
  --colorBg4: #111117;
  --colorFont1: #83bce6;
  --colorFont2: #e7e7e7;
  --colorShadow: #003E6B1A;
  --colorButton: rgb(137, 82, 0);
  --colorBtnHover: rgb(198, 119, 0);
  --colorIcon: rgb(0, 96, 102);
  --boxShadow: 10px 10px 20px 0px rgba(151, 91, 0, 0.331);
  --sizeTitle: 40px;
  --sizeSubTitle: 30px;
  --sizeText: 20px;
  --sizeMobileText: 2.3vw;
  --radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-normal);
  color: var(--colorFont1);
  font-weight: 500;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--colorBack);
  animation: OpeningBackground 3s forwards, BackgroundCycle 60s infinite 3s;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
span {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

p {
  font-size: var(--sizeText);
}

::-webkit-scrollbar {
  width: 1.6vw;
  max-width: 16px;
  background-color: var(--colorBack);
}

::-moz-scrollbar {
  width: 1.6vw;
  max-width: 16px;
  background-color: var(--colorBack);
}

::-webkit-scrollbar-thumb {
  background-color: var(--colorFont);
  border-radius: 0.8vw;
}

::-moz-scrollbar-thumb {
  background-color: var(--colorFont);
  border-radius: 0.8vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}